/* VARIABLES CON PALETA DE COLORES Y FUENTES */

    /* PALETA DE COLORES */
    $primary:#65414B;
    $secondary:#DEAA57;
    $accent:#000000;
    $other:#ffffff;

    /*font size*/
    
    $text-xxl: 4.0em;
    $text-xl: 3.6em;
    $text-lg: 3.2em;
    $text-md: 2em;
    $text-sm: 1.6em;
    $text-sl: 1.4em;
    $text-s: 1.2em;