/* Estilos para la barra menu hamburguesa */
.bg-color-navbar {
    background-color: $primary;
    background-size: cover;

    .fixed-top {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    } 

    .justify-content-center {
        margin-left: 15px;
    }

    
    .navbar-toggler {
        margin-right: 10px;
        padding: 10px;
        border-color: $secondary;
        background-color: $secondary;
    }

    .nav-link {
        font-size: $text-md;
        margin-right: 10px;
        padding: 5px;
        transition: background-color .6s;
        border-radius: 20px;

        
     &:hover {
         background-color: $secondary;
     }

    }
}

/* CABECERA DE LA PAGINA --(HEADER DE LA PAGINA)--*/
 header {
    height: 10vh;
    background-color: $primary;
    margin-top: 110px;

    .header__text {
        background-color: $primary;
        color: $secondary;
        height: 33px;
        margin: 4px;
    } 
}
